* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

#logo {
    position: absolute;
    top: 50px;
    left: 5%;
    font-size: 20px;
    color: #01ce69;
    font-weight: bolder;
}

#container {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #f0fbf7;
}

#navbar {
    height: 60px;
    width: 925px;
    position: absolute;
    top: 50px;
    right: 5%;
    border-radius: 20px;
    z-index: 999;
    overflow: hidden;
}

#navbar ul {
    height: 100%;
    width: 965px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
}



ul{
	list-style: none;
}

#navbar ul li a {
    height: 100%;
    width: auto;
    margin: 0 70px;
    font-size: 25px;
    margin-left: 0;
    display: grid;
    place-items: center;
    padding: 0 20px;
    text-decoration: none;
    color: #000;
}

#navbar ul li a:hover {
    color: #01ce69;
    border-bottom: 2px solid #01ce69;
    width: calc(100% - 150px);
}

/* content css */
#content {
    height: auto;
    width: 700px;
    position: absolute;
    right: 11%;
    top: calc(50% - 215px);
}

#content h2 {
    font-size: 85px;
    color: #01ce69;
}

#content p {
    font-size: 18px;
}

#content button {
    height: 65px;
    width: 210px;
    border: none;
    outline: none;
    border-radius: 70px;
    margin: 20px 0;
    font-size: 20px;
    background: #01ce69;
    color: #fff;
    cursor: pointer;
}

#content button:hover {
    color: #01ce69;
    border: 2px solid #01ce69;
    background: transparent;
}

.container{
	max-width: 1170px;
	margin:auto;
    
}
.row{
	display: flex;
	flex-wrap: wrap;
    
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
