     /* Flexbox setup for centering content */
html, body {
 height: 100%;
}
body {
display: flex;
align-items: center;
justify-content: center;
background-color: #f1f1f1;
}
      /* Styling for the message */
.message {
/* background-color: white; */
border: 1px solid #ccc;
padding: 20px; 
text-align: center;
font-size: 24px;
font-weight: bold;
max-width: 80%;
}


.button {
      align-items: center;
      text-align: center;
    }
    .margin {
      margin-top: 50px;
    }
    
    .fill {
      border-radius: 15px;
      font-size: 20px;
      font-weight: 200;
      letter-spacing: 1px;
      padding: 13px 50px 13px;
      outline: 0;
      border: 1px solid black;
      cursor: pointer;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
    }
    
    .fill::after {
      content: "";
      background-color: green;
      width: 100%;
      z-index: -1;
      position: absolute;
      height: 100%;
      top: 7px;
      left: 7px;
      transition: 0.2s;
      border-radius: 15px;
    }
    
    .fill:hover::after {
      top: 0px;
      left: 0px;
    }

