<!DOCTYPE html>
<html>
<head>
	<title>Planning</title>
	<link rel="stylesheet" href="/static/assets/css/planning.css">
</head>
<body>

    <div id="container">
        <div id="logo">GROUPIE TRACKER</div>
        <div id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/planning">Planning</a></li>
                <li><a href="/static/contact.html">Contact</a></li>
            </ul>
        </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
        <div class="planning-container" class="margin">

   {{range .Index}}
    
   <img src="{{.RelArtist.Image}}">
   
   <p><strong>Name :<h1>{{.RelArtist.Name}}</h1></strong>{{range $key, $value := .DatesLocations}}</p>
   <p><strong>Date et Location:</strong> {{ (index $value 0) }} à {{$key}}</p>
    {{end}}
    </br> 
    </br>   
    </br>
   {{end}}

</div>
   <!-- <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</footer> -->

</body>
</html>

